@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Libre+Baskerville&display=swap');
/*font-family: 'EB Garamond', serif;
font-family: 'Libre Baskerville', serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'EB Garamond', serif;
}
h1{
    font-family: 'Libre Baskerville', serif;
}

/* Style the sticky header */
.sticky-header {
    background: linear-gradient(to right, #c4661f, #1d78aa, rgb(20, 66, 134), lightblue);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Ensure the header stays on top of other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 20px;
    background-color: rgba(51, 51, 51, 0.831);
    color: #fff;
}

/* Style the logo */
.logo h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 1.5rem; /* Increase font size for better readability */
}

/* Style the logo icon */
.logo-icon {
    font-size: 1.5rem;
    color: whitesmoke;
}

/* Style the navigation menu */
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff9900;
}

a:visited {
    color: #ffffff;
}

/* Style the "Contact Us" button */
.contact-button {
    background-color: #ff0000;;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.contact-button:hover {
    background-color: #FF8956;
    color: #fff;
    box-shadow: inset 0 0 0 4px #FF5733;
}

/* Style the page content */
.content {
    padding-top: 80px; /* Adjust to match the header's height */
}

/* Media queries for responsiveness */

/* Media query for smaller screens */

@media screen and (max-width: 768px) {
    .sticky-header {
        position: static; /* Remove fixed positioning */
    }

    .logo h1 {
        font-size: 1rem;
        white-space: nowrap;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

/*section*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section-title {
    text-align: center;
    margin: 5rem 0 1rem ;
}

.service-card {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    transform: translateX(50%);
}

.service-card h2 {
    color: #333;
}

.service-card p {
    color: #777;
}

@media (min-width: 768px) {
    .service-card {
        width: calc(33.33% - 40px);
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .service-card {
        width: 100%;
        transform: translateX(-6%);
    }
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}

.footer-menu li {
    display: inline;
    margin-right: 20px;
}

.footer-menu li:last-child {
    margin-right: 0;
}

.footer-menu a {
    text-decoration: none;
    color: #fff;
}

.footer-menu :hover{
    text-decoration: none;
    color: #ff9900;
}

.footer-menu:visited{
    color: #e74744;
    text-decoration: none;
}

.footer-address {
    text-align: center;
    flex-grow: 1;
    margin-bottom: 1rem;
}

.footer-social-media {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.footer-social-media li a {
    margin: 0 10px;
    color: white;
}

.footer-copyright {
    margin-top: 20px;
}

.back-to-top {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #1255ba;
}


/* Define social media icons if using FontAwesome or other icon libraries */
.footer-social-media i {
    font-size: 20px;
}

/* Styling for links when hovered */
.footer-menu a:hover, .back-to-top:hover {
    text-decoration: none;
}


/* Responsive styles */
@media (max-width: 768px) {
    .footer-menu {
        text-align: center;
    }

    .footer-social-media {
        text-align: center;
    }
}